@media screen and (max-width: 320px) {
  .portfolio-itma{
/*width: 100%;*/
height:auto;
/*margin: 10px 0px 0px 0px!important;*/
padding-right: 6px !important;
}

.res-tab{
width:100%; 
}
.single-content {
    clear: both;
    height: auto;
    margin-bottom: 20px;
    padding: 20px;
}
.col{
margin-left:0px;  
}

.col-md-16 {
    float: left;
    width: 91%;
}
.col-md-14 {
    float: left;
    width: 100%;
}
.isotope-item{
width: 100%;
margin-left:1%;
}
#search-2{
 float: left;
 width: inherit; 
}
.category-center {
  text-align:left;
}
/*.rowtop-padding {
margin-left: 2%;
}
*/
.col-md-18{
width:50% !important;
}
.technology-page {
    padding: 47px 3.8% 50px 6.5%;
}
.news{
 width:100%;
 float:left;
 clear:both;
}


}


@media screen and (max-width: 480px) {
 .menu-toggle {
   font-size: 1.8125rem;
   border:none;
 }
 img{ max-width: 100%; }
.single-content {
    clear: both;
    height: auto;
    margin-bottom: 20px;
    padding: 20px;
}
/*.rowtop-padding {
margin-left: 2%;
}*/

.col{
margin-left:0px;  
}
.col-md-16 {
    float: left;
    width: 91%;
}
.col-md-14 {
    float: left;
    width: 100%;
}
#search-2{
 float: left;
 width:45%; 
}
.subcategoy {
    float: left;
    margin-left: 15px;
}
.category-center {
  text-align:left;
}
.menu-toggle:hover,
.menu-toggle:focus {
background-color:none!important !important;
color: #000;  
 }	
.dropdown-toggle:after {
  font-family: FontAwesome;
  content:"\f078";
  font-size:12px; 
}

.about-section{
width: 100%;
}

.Feed__feedbar__text{
  width:100%; 
}

.home-custom{
	/*padding:47px 4.9% 50px 0;*/
  padding: 47px 3.8% 50px;
}
.single-technology{
margin:0px;  
}

.prod-box{
	width: 100%;
}
.text{
width: 100%;	
}
.custom-target{
	padding: 9px 0px 5px 0px;
}
.col-md-4{
  width: 100% !important;
  margin-bottom:5px; 
}
.column div {
    height: 198px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    width:100%;
}
.hover03 figure img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: scale(1.5);
    transition: all 0.3s ease-in-out 0s;
    width:34%;
}
.widget .widget-title{
   font-size:17px !important;
}

.about-message{
  padding:10px 20px;
}
.aboutbanner{
height:auto;
background-size:contain;
} 

.about-message p{
 width: 100%;
}

.about-message h1{
  width:100%; 
}
.about-main h1{
  font-size: 19px;
}
.about-main{
padding: 17px;
}
.about-main > .details{
 padding:0px; 
}
.about-team{
  padding: 50px 17px;
}
.about-partner{
 margin-bottom:15px; 
}

.about-ecei{
  padding: 38px 15px;
}
.send_add{
  padding:10px; 
}
.gmap{
  margin: 20px 0px 0;
   padding: 11px 10px;
}

.news-section {
    margin: 55px 15px 50px 11px;
}

.portfolio-itma{
/*width: 100%;*/
height:auto;
/*margin: 10px 0px 0px 0px!important;*/
/* padding: 0px 0px 0px 0px;*/
padding: 10px 1px 0;
}
.frame{
margin: 0 auto;
margin-bottom: 10px;
height:auto;
}
.isotope-item{
width: 100%;
margin-left: 14%;
}
.news_des{
 width:100%; 
}
.news{
 width:100%;
}
.res-tab{
width:100%; 
}
.signle-newssection{
  margin: 0px;
}
.partner {
padding-left: 51px;
width:95%; 
}
.mainactivites{
width:97%; 
}
.search-submit::before{
font-size: 17px;
left: 2px;
line-height: 35px;
}

 /*====== footer =====*/

.contatc-info{
width: 100%;
}

.col-md-18{
width:100% !important;
}
.technology-page {
    padding: 47px 3.8% 50px 6.5%;
}

.news-section {
    margin: 55px 3.8% 50px 4.7% !important;
}
}


@media only screen and (max-width: 375px) {
.isotope-item{
width: 100%;
 margin-left: -1% !important;
}

}

@media only screen and (max-width : 1000px){	
 .menu-toggle {
   font-size: 1.8125rem;
   border:none;
 }
 img{ max-width: 100%; }

.menu-toggle:hover,
.menu-toggle:focus {
background-color:none!important !important;
color: #000;  
 }
.dropdown-toggle:after {
  font-family: FontAwesome;
  content:"\f078"; 
  font-size:12px;
}
.single-content {
    clear: both;
    height: auto;
    margin-bottom: 20px;
    padding: 20px;
}
.site-main{
margin-left:2 
}
.col{
margin-left:0px;  
}
.isotope-item{
width: 100%;
margin-left: 15%;
}
.col-md-16 {
    float: left;
    width: 91%;
}
.col-md-18{
width:100% !important;
}


.category-center {
  text-align:left;
  margin-left: 15px;
}
.about-section{
width:96%;
}
.aboutbanner{
background-size:cover!important;
height:145px !important; 
} 
/*.home-custom{
	margin:47px 4.3% 50px 0%;
}*/
.Feed__feedbar__text{
  width:100%; 
}

.prod-box{
	width: 100%;
}
.custom-target{
    margin: 0 auto;
    padding: 9px 0 5px;
    position: relative;
}
.column div {
    height: 198px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 100%;
}
.widget .widget-title{
  font-size: 17px;
}
.res-tab{
width:100%; 
}

.about-message h1{
  width:100%; 
}

/*.news-section {
    margin: 55px 20px 50px;
    width: 100%;
}*/
.signle-newssection{
  margin: 0px;
}
.partner {
padding-left: 51px;
width:95%; 
}
.mainactivites{
width:91%; 
}



 /*====== footer =====*/
.contatc-info{
width: 100%;
}


}

@media only screen and (max-width : 768px){
.col-md-4 {
    margin: 0 auto 5%;
    width: 100% !important;
    margin-top:5%;
}

.column div {
 height: auto;
    margin: 0 auto 19%;
    padding: 0;
    position: relative;
    width: 100%;
}

.hover03 figure img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: scale(1.5);
    transition: all 0.3s ease-in-out 0s;
    /*width: 34%;*/
    width: auto;
}
.text{
 width:100%; 
}

.about-message h1{
  width:100%; 
}
.widget .widget-title{
   font-size:17px !important;
}
.news_des{
 width:100%; 
}
/*.news{
width:50%;
float:none; 
}*/
.partner {
padding-left: 51px;
width:95%; 
}
.mainactivites{
width:97%; 
}
 .home-custom {
  padding: 47px 3.8% 50px 8%;
}
.col {
 margin-left: 0px !important;
 margin-right: 5%;
}
.technology-page {
    padding: 47px 3.8% 50px 17%;
}
}



@media only screen and (max-width : 1280px) {	

.column div {
 /*height: auto;
     width: auto;
    margin: 0 auto 19%;
    padding: 0;
    position: relative;
    margin-left: 13%;
    margin-right: 13%;*/
    height: auto;
    /*margin: 11% 19% 19%;*/
    margin: 10% 19% 19% 25%;
    padding: 0;
    position: relative;
    width: auto;
}
/*.hover03 figure img {
    max-width: 83%;
 } */  

.column {
    
    padding-left: 30px;
    padding-right: 0;

}

figure {
    margin: 0;
    max-width: 80%;
} 

.widget .widget-title{
  font-size:17px !important;
}
.col-md-4{
margin-top:5%;
width:50%; 
}
.news_des{
 width:100%; 
 float:none;
}
/*.col-md-3{
  width:100%; 
}*/
.partner {
padding-left:31px;
width:95%; 
}
.mainactivites{
width:99%; 
}
.news-section {
    margin: 55px 3.8% 50px !important;
}
/*====== footer =====*/
.contatc-info{
width: 100%;
}

}	


/*Result section */

@media screen and (max-width: 1920px) {
	.resutssection h3::before {
		width: 300px;
	}
	.resutssection h3::after {
		width:300px;
	}
	
	.alcost {
		font-size: 27px;
	}
	.alsaving {
		font-size: 27px;
	}
	.aleimision {
		font-size: 27px;
	}
	.potentialco2 {
		font-size: 27px;
	}
	.potentialsaving {
		font-size: 27px;
	}
	.potentialcost {
		font-size: 27px;
	}
.technology-page {
    padding: 47px 3.8% 50px 17%;
}
.alcost{
left: 34%;
}
.aleimision{
right: 32%;
}
.potentialcost{
left: 34%;
}
.potentialco2{
right: 31%;
}
.alsaving{
right: 46%;
}
.potentialsaving{
right:45%;
}

}

@media screen and (max-width: 1600px) {
	.resutssection h3::before {
		width: 300px;
	}
	.resutssection h3::after {
		width:300px;
	}
	.mainactivites {
    padding: 47px 3.3% 50px 5.3% !important;
    width: 100%;
}

}
/*@media screen and (min-width: 1680px) {

.technology-page {
	padding: 47px 8.8% 50px 8.8%;
}
}*/
@media screen and (max-width: 1680px) {
 .mainactivites {
    padding: 47px 3.3% 50px 5.3% !important;
    width: 100%;
}
.single-page {
    padding: 47px 3.8% 50px 4.2%;
}
/*.technology-page {
    padding: 47px 3.8% 50px 13.5%;
}*/
.alcost{
left: 32%;
}
.aleimision{
right: 29%;
}
.potentialco2{
right: 28%;
}
.potentialcost{
left: 32%;
}
}

@media screen and (max-width: 1920px) {
 .mainactivites {
    padding: 47px 3.3% 50px 5.7%!important;
    width: 100%;
}
.single-page {
    padding: 47px 2.4% 50px 3.8%;
}
.technology-page {
    padding: 47px 3.8% 50px 17%;
}

}

@media screen and (max-width: 1440px) {
	.resutssection h3::before {
		width: 250px;
	}
	.resutssection h3::after {
		width:250px;
	} 
}
@media screen and (max-width:2560px) {
.mainactivites {
    padding: 47px 3.3% 50px 6.2%!important;
    width: 100%;
}
.news-section {
    margin: 55px 3.8% 50px 5.6%;
}
.technology-page {
    padding: 47px 3.8% 50px 14.1%;
}
	
}
	
@media screen and (min-width: 2530px) {
.alcost {
 left: 38%;
}
.potentialcost{
 left: 38%;
}
.potentialco2{
right: 36%;
}
.aleimision{
right: 36%;
}
.alsaving{
 right: 48%;
}
.potentialsaving{
	right: 48%;
}
.resutssection h3::after{
	width: 395px;
}
.resutssection h3::before{
	width: 362px;
}


}	



@media screen and (max-width: 1366px) {
.alcost{
left: 22%;
text-align: center;
width: 20%;
}
.aleimision{
right: 24%;
}	
.potentialcost{
left: 27%;
}
.potentialco2{
right: 24%;
}
.technology-page {
    padding: 47px 3.8% 50px 16.8%;
}

}
@media screen and (max-width: 1280px) {
 	.alcost{
		font-size: 24px;
		/*left:18%;
		top: 20.5%;*/
		left: 13%;
    text-align: center;
    top: 20.5%;
    width: 26%;
	}
	
	.alsaving{
		font-size: 24px;
		right:46%;
		top: 13.8%;
	}
	
	.aleimision{
		font-size: 24px;
		right:15%;
		top: 20.6%;
	}
	
	.potentialcost{
	 	bottom: 18.3%;
		font-size: 24px;
		left:17%;
	}
	
	.potentialsaving{
		bottom:10.3%;
		font-size: 24px;
		right:46%;
	}
	
	.potentialco2{
		bottom: 19.3%;
		font-size: 24px;
		right:14%;
	}

}

@media screen and (max-width: 1024px) {
 	.resutssection .textbold{
		font-size: 30px;
	}
	.resutssection .value{
		font-size: 30px;
	}
	.alcost {
		font-size: 22px;
		width:
	}
	.alsaving {
		font-size: 22px;
	}
	.aleimision {
		font-size: 22px;
	}
	.potentialco2 {
		font-size: 22px;
	}
	.potentialsaving {
		font-size: 22px;
	}
	.potentialcost {
		font-size: 22px;
	}
   .col {
    margin-left: 24px;
   }
  .res-tab {
    width:101.6%;
  } 
  .mainactivites {
    padding: 47px 3.3% 50px 3.8% !important;
    width: 100%;
}
.news-section {
    margin: 55px 3.8% 50px;
}
.technology-page {
    padding: 47px 3.8% 50px 22%;
}
  
}

@media screen and (max-width: 980px) {
  .home-custom {
  padding: 47px 3.8% 50px 8%;
}
.col {
 margin-left: 0px !important;
 margin-right: 5%;
}

}

@media screen and (max-width: 800px) {
 	.resutssection .textbold{
		font-size: 24px;
	}
	.resutssection .value{
		font-size: 24px;
	}
	.alcost {
	/*font-size: 15px;
    left: 16% !important;
    top: 18.5%;*/
	left: 11% !important;
    text-align: center;
    top: 18.5%;
    width: 22%;
	}
	.alsaving {
		font-size: 16px;
    right: 42%;
    top: 12.8%;
	}
	.aleimision {
		font-size: 17px;
    right: 9%;
    top: 19.6%;
	}
	.potentialco2 {
	bottom: 17.3%;
    font-size: 16px;
    right: 6%;
	}
	.potentialsaving {
		bottom: 8.3%;
    font-size: 20px;
    right: 39%;
	}
	.potentialcost {
		bottom: 16.3%;
    font-size: 20px;
    left: 12%;
	}
	.news-title{
	height:75px;
}
	
}

@media screen and (max-width: 603px) {

.home-custom {
    padding: 47px 3.8% 50px 6%;
}
.col {
    margin-left: 0 !important;
    margin-right: 4%;
}
.news {
   width:100%;
}
}
@media screen and (max-width: 600px) {
 .technology-page {
    padding: 47px 3.8% 50px 4.5%;
}
}
@media screen and (max-width: 533px) {
  .technology-page {
    padding: 47px 3.8% 50px 6%;
}
}


@media screen and (max-width: 420px) {
	.alcost {
		font-size: 10px;
	}
	.alsaving {
		font-size: 10px;
	}
	.aleimision {
		font-size: 10px;
	}
	.potentialco2 {
		font-size: 10px;
	}
	.potentialsaving {
		font-size: 10px;
	}
	.potentialcost {
		font-size: 10px;
	}
	.resutssection h3{font-size:25px;}
	

}

@media screen and (max-width: 414px) {
	
}
@media screen and (max-width: 320px) {
	.resutssection h3::before {
		top: 60px;
		width: 189px;
	}
	.resutssection h3::after {
		top: 60px;
	}
	.alcost {
		font-size: 8px;
	}
	.alsaving {
		font-size: 8px;
	}
	.aleimision {
		font-size: 8px;
	}
	.potentialco2 {
		font-size: 8px;
	}
	.potentialsaving {
		font-size: 8px;
	}
	.potentialcost {
		font-size: 8px;
	}
	
	.resutssection .textbold{
		padding: 20px 0;
	}
	
	.resutssection .value{
		padding: 20px 0;
	}
	.col {
    margin-left: 0 !important;
    margin-right: 0;
}
.home-custom {
    padding: 47px 3.8% 50px 3%;
}
	
}


